.card-container{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    background-color: #419197;
    padding: 30px 0;
    margin-bottom: 100px;
}

.feature-section{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif ;
}


.card{
    font-family: 'Montserrat', sans-serif ;
    width: 300px;
    overflow: hidden;
    border: none;
    transition: all 0.3s;
    background-color: #78D6C6;
    margin: 20px;
    padding: 10px;
}

.card-image{
    width: 100px;
    margin: auto;
    margin-top: 20px;
}

.card:hover{
    transform: scale(1.11);
}

