

.container{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #78D6C6;
    padding: 40px;
    border-radius: 15px;
  }
  
.list{
    width: 600px;
    align-content: center;
    margin: auto;
    
}

  /* h4{
    margin-top: 1rem;
    text-align: center;
    color: red;
  } */

  .todo-list{
    color: black;
    margin-bottom: 30px;
  }
  
  .top{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  input{
    border: none;
    outline: none;
    width: 400px;
    padding: 0 0.5rem;
    background-color: transparent;
    border-bottom: 1px solid black;
  }

  .add{
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }



  @media (max-width:400px){
    .list{
      width: 100%;
      align-content: center;
      margin: auto;
      
  }

  }

  
@media (max-width:700px){
  .list{
    width: 400px;
    align-content: center;
    margin: auto;
    
}
}

@media (max-width:900px){
  .list{
    width: 400px;
    align-content: center;
    margin: auto;
    
}
}






/* 
@media screen and (max-width: 700px){
    .textArea{
        width: 400px;
    }
    .dltbtn{
        width: 80px;
        margin-top: 10px;
    }
}  */