

.textArea{
    width: 600px;
    height: 300px;
    background-color: rgb(207, 219, 228);
    border-radius: 10px;
    margin: 3rem auto;
    
    
}


.twobtn{
    border-radius: 10px;
    border: none;
    width: 48%;
    height: 40px;
    margin: 5px;
}