

.srchbar{
    height: 50px;
    width: 300px;
}

.srchbox{
    position: absolute;
    /* top: 20rem; */
    bottom: 15em;
    left: 50%;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
}

.btntxt{
    font-size: 20px;
}

@media screen and (max-width: 700px){
    .srchbar{
        height: 30px;
        width: 200px;
        
    }
    .btncss{
        height:30px;
    }
    .btntxt{
        font-size: 18px;
        margin-bottom: 3px;
    }
}
    